@redColor: #d62e2e;
@orangeColor: #ff9830;
@tanColor: #a2a362;
@yellowColor: #fcff90;
@grayColor: #473d3d;

@font-face {
    font-family: 'Monda';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/monda-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: EnvyCodeR;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/Envy Code R.ttf');
}

* {
    box-sizing: border-box;
    font-family: Monda;
    font-size: 120%;
}

section.slide {
}

.slide pre {
    border: 0;
    margin-top: 0;
    padding-top: 0;
}

.centered {
    left: 50%;
    position: absolute;
    top: 50%;
}

.pull-left {
    display: inline-block;
    float: left;
}

.pull-right {
    float: right;
}

.deck-current ul.note {
    display: none;
}

.slide pre.cli {
    background-color: #000000;
    bottom: 0;
    color: #ffffff;
    font-family: EnvyCodeR;
    font-size: 100%;
    left: 0;
    margin: 0 inherit;
    padding: 0 2.5em;
    position: absolute;
    right: 0;
    top: 0;
}

section.slide pre.cli * {
    font-family: EnvyCodeR;
    font-size: 100%;
}

.slide {
    border-bottom: 2em solid @yellowColor;
    border-top: 1.5em solid @tanColor;
    margin-bottom: -2.1em;
}

.deck-status,
.slide::after {
    bottom: 3px;
    font-size: 120%;
    position: fixed;
    z-index: 9;
}

.deck-status {
    right: 1em;
    z-index: 9;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

.slide::after {
    color: @grayColor;
    content: "Testing APIs with Behat and PHPUnit";
    left: 1em;
}

.title .container {
    height: 318px;
}

.slide.title h1 {
    color: @redColor;
    font-size: 5em;
    margin-bottom: 0;
    margin-right: 10px;
    padding: 0;
    position: relative;
    text-align: right;
}

.slide.title h2 {
    border-bottom: 0;
    color: @orangeColor;
    margin-bottom: 0;
    margin-right: 10px;
    padding: 0;
    position: relative;
    text-align: right;
}

.slide.title h3 {
    color: @grayColor;
    margin-right: 10px;
    margin-top: 0;
    text-align: right;
}

/* Turn off the title in the footer on the title slide */
.slide.title::after {
    content: "";
}
